// Colors

$white: #FFFFFF;
$black: #150C3C;
$blue: #008dff;


// Fonts

@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$sans: 'Roboto', -apple-system, BlinkMacSystemFont, sans-serif;
$heading: 'Fascinate', $sans;


// Breakpoints

$tiny: 480px;
$small: 768px;
$medium: 1024px;
$large: 1200px;


// Miscellaneous

$maxWidth: 40em;
$radius: .25em;
